<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.socialnetworkdao.dao.ICommentDAO">

    <resultMap id="commentResultMap" type="com.solvd.socialnetworkdao.Comment">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="dateCreated" column="date_created"/>
    </resultMap>

    <select id="getById" resultMap="commentResultMap">
        SELECT * FROM Comment
        WHERE id = #{id}
    </select>

    <select id="getAll" resultMap="commentResultMap">
        SELECT * FROM Comment
    </select>

    <select id="getCommentsByPostId" resultMap="commentResultMap">
        SELECT * FROM Comment WHERE commented_post_id=?
    </select>

    <select id="getCommentsByProfileId" resultMap="commentResultMap">
        SELECT * FROM Comment WHERE author_profile_id=?
    </select>
    
    <insert id="insert" parameterType="com.solvd.socialnetworkdao.Comment">
        INSERT INTO Comment (id, content, date_created, author_profile_id, commented_post_id)
        VALUES (#{id}, #{content}, #{dateCreated}, #{authorProfileId}, #{commentedPostId})
    </insert>

    <update id="update" parameterType="com.solvd.socialnetworkdao.Comment">
        UPDATE Comment
        SET content = #{content},
        date_created = #{creationDate},
        author_profile_id = #{authorProfileId},
        commented_post_id = #{commentedPostId}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="com.solvd.socialnetworkdao.Comment">
        DELETE FROM Comment
        WHERE id = #{id}
    </delete>

</mapper>
