<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.socialnetworkdao.dao.IFriendshipDAO">

    <resultMap id="friendshipResultMap" type="com.solvd.socialnetworkdao.Friendship">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="getById" resultMap="friendshipResultMap">
        SELECT * FROM Friendship
        WHERE id = #{id}
    </select>

    <select id="getAll" resultMap="friendshipResultMap">
        SELECT * FROM Friendship
    </select>

    <select id="getFriendshipsBySenderProfileId" resultMap="friendshipResultMap">
        SELECT * FROM Friendship WHERE requester_profile_id = #{id}
    </select>

    <select id="getFriendshipsByReceiverProfileId" resultMap="friendshipResultMap">
        SELECT * FROM Friendship WHERE requested_profile_id = #{id}
    </select>

    <insert id="insert" parameterType="com.solvd.socialnetworkdao.Friendship">
        INSERT INTO Friendship (id, status, requester_profile_id, requested_profile_id)
        VALUES (#{id}, #{status}, #{requesterProfileId}, #{requestedProfileId})
    </insert>

    <update id="update" parameterType="com.solvd.socialnetworkdao.Friendship">
        UPDATE Friendship
        SET status = #{status},
            requester_profile_id = #{requesterProfileId},
            requested_profile_id = #{requestedProfileId}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="com.solvd.socialnetworkdao.Friendship">
        DELETE FROM Friendship
        WHERE id = #{id}
    </delete>

</mapper>
