<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.socialnetworkdao.dao.IGroupMembershipDAO">

    <resultMap id="groupMembershipResultMap" type="com.solvd.socialnetworkdao.GroupMembership">
        <id property="id" column="id"/>
        <result property="role" column="role"/>
    </resultMap>

    <select id="getById" resultMap="groupMembershipResultMap">
        SELECT * FROM Group_Membership
        WHERE id = #{id}
    </select>

    <select id="getAll" resultMap="groupMembershipResultMap">
        SELECT * FROM Group_Membership
    </select>

    <select id="getGroupMembershipsByProfileId" resultMap="groupMembershipResultMap">
        SELECT * FROM Group_Membership WHERE member_profile_id=?
    </select>

    <select id="getMembershipsByGroupId" resultMap="groupMembershipResultMap">
        SELECT * FROM Group_Membership WHERE group_id=?
    </select>

    <insert id="insert" parameterType="com.solvd.socialnetworkdao.GroupMembership">
        INSERT INTO Group_Membership (id, role, member_profile_id, group_id)
        VALUES (#{id}, #{role}, #{memberProfileId}, #{groupId})
    </insert>


    <update id="update" parameterType="com.solvd.socialnetworkdao.GroupMembership">
        UPDATE Group_Membership
        SET role = #{role},
            member_profile_id = #{memberProfileId},
            group_id = #{groupId}
        WHERE id = #{id}
    </update>


    <delete id="delete" parameterType="com.solvd.socialnetworkdao.GroupMembership">
        DELETE FROM Group_Membership
        WHERE id = #{id}
    </delete>

</mapper>
