<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.socialnetworkdao.dao.ILikeDAO">

    <resultMap id="likeResultMap" type="com.solvd.socialnetworkdao.Like">
        <id property="id" column="id"/>
    </resultMap>

    <select id="getId" resultMap="likeResultMap">
        SELECT * FROM `Like`
        WHERE id = #{id}
    </select>

    <select id="getAll" resultMap="likeResultMap">
        SELECT * FROM `Like`
    </select>

    <select id="getLikesByProfileId" resultMap="likeResultMap">
        SELECT * FROM `Like` WHERE liker_profile_id=?
    </select>

    <select id="getLikesByPostId" resultMap="likeResultMap">
        SELECT * FROM `Like` WHERE liked_post_id=?
    </select>

    <insert id="insert" parameterType="com.solvd.socialnetworkdao.Like">
        INSERT INTO `Like` (id, liked_post_id, liker_profile_id)
        VALUES (#{id}, #{likedPostId}, #{likerPostId})
    </insert>

    <update id="update" parameterType="com.solvd.socialnetworkdao.Like">
        UPDATE `Like`
        SET liked_post_id = #{likedPostId}, liker_profile_id = #{likerPostId}
        WHERE id = #{id}
    </update>


    <delete id="delete" parameterType="com.solvd.socialnetworkdao.Like">
        DELETE FROM `Like`
        WHERE id = #{id}
    </delete>

</mapper>
