<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.socialnetworkdao.dao.IMessageDAO">

    <resultMap id="messageResultMap" type="com.solvd.socialnetworkdao.Message">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="dateSent" column="date_sent"/>
    </resultMap>

    <select id="getById" parameterType="Long" resultMap="messageResultMap">
        SELECT id, content, date_sent
        FROM Message
        WHERE id = #{id}
    </select>

    <select id="getAll" resultMap="messageResultMap">
        SELECT *
        FROM Message
    </select>
    
    <select id="getMessagesBySenderProfileId" resultMap="messageResultMap">
        SELECT * FROM Message WHERE sender_profile_id=?
    </select>

    <select id="getMessagesByReceiverProfileId" resultMap="messageResultMap">
        SELECT * FROM Message WHERE receiver_profile_id=?
    </select>

    <insert id="insert" parameterType="com.solvd.socialnetworkdao.Message">
        INSERT INTO Message (id, content, date_sent, sender_profile_id, receiver_profile_id)
        VALUES (#{id}, #{content}, #{dateSent}, #{senderProfileId}, #{receiverProfileId})
    </insert>

    <update id="update" parameterType="com.solvd.socialnetworkdao.Message">
        UPDATE Message
        SET content = #{content}, date_sent = #{dateSent},
            sender_profile_id = #{senderProfileId}, receiver_profile_id = #{receiverProfileId}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM Message
        WHERE id = #{id}
    </delete>

</mapper>
