<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.socialnetworkdao.dao.IPostDAO">

    <resultMap id="postResultMap" type="com.solvd.socialnetworkdao.Post">
        <id property="id" column="post_id"/>
        <result property="dateCreated" column="date_created"/>
        <result property="content" column="content"/>
        <collection property="likes" ofType="com.solvd.socialnetworkdao.Like" resultMap="com.solvd.socialnetworkdao.dao.ILikeDAO.likeResultMap"/>
        <collection property="comments" ofType="com.solvd.socialnetworkdao.Comment" resultMap="com.solvd.socialnetworkdao.dao.ICommentDAO.commentResultMap"/>
        <collection property="tags" ofType="com.solvd.socialnetworkdao.ProfileTag" resultMap="com.solvd.socialnetworkdao.dao.IProfileTagDAO.profileTagResultMap"/>
        <collection property="photos" ofType="com.solvd.socialnetworkdao.Photo" resultMap="com.solvd.socialnetworkdao.dao.IPhotoDAO.photoResultMap"/>
    </resultMap>

    <select id="getById" resultMap="postResultMap">
        SELECT P.id AS id,
               P.date_created AS date_created,
               P.content AS content,
               L.id AS id,
               C.id AS id,
               C.content AS content,
               C.date_created AS date_created,
               PT.id AS id,
               PH.id AS id,
               PH.photo_id as id
        FROM Post P
        JOIN `Like` L on P.id = L.liked_post_id
        JOIN Comment C on P.id = C.commented_post_id
        JOIN Profile_Tag PT on P.id = PT.tagged_post_id
        JOIN Post_Photo PH on P.id = PH.post_id
        WHERE P.id = #{id}
    </select>

    <select id="getAll" resultMap="postResultMap">
        SELECT *
        FROM Post
    </select>

    <select id="getPostsByProfileId" resultMap="postResultMap">
        SELECT * FROM Post WHERE poster_profile_id=#{id}
    </select>

    <select id="getByCommentId" resultMap="postResultMap">
        SELECT Post.* FROM Post, Comment WHERE Post.id = Comment.commented_post_id AND Comment.id=#{id}
    </select>

    <select id="getByLikeId" resultMap="postResultMap">
        SELECT Post.* FROM Post, `Like` WHERE Post.id = `Like`.liked_post_id AND `Like`.id=#{id}
    </select>

    <select id="getByPostPhotoId" resultMap="postResultMap">
        SELECT Post.* FROM Post JOIN Post_Photo ON Post.id = Post_Photo.post_id WHERE Post_Photo.id=#{id}
    </select>

    <select id="getByProfileTagId" resultMap="postResultMap">
        SELECT Post.* FROM Post, Profile_Tag WHERE Post.id = Profile_Tag.tagged_post_id AND Profile_Tag.id=#{id}
    </select>

    <insert id="insert" parameterType="com.solvd.socialnetworkdao.Post">
        INSERT INTO Post (id, poster_profile_id, date_created, content)
        VALUES (#{id}, #{posterProfileId}, #{dateCreated}, #{content})
    </insert>

    <update id="update" parameterType="com.solvd.socialnetworkdao.Post">
        UPDATE Post
        SET date_created = #{dateCreated}, content = #{content}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM Post
        WHERE id = #{id}
    </delete>

</mapper>
